{% extends 'base.html' %}
{%block content%}
    <a href="{% url 'main' %}">Back</a>
    <h1>{{category.topic}}</h1>
      <h2>Choose your level</h2>
    <div class="text">
      <form class="form-language" action="{% url 'category' category.slug_category  %}" method="post">
        {% csrf_token %}
        {{ form_level }}
        <p class="sort"><input type="submit" value="Sort"></p>
      </form>
    </div>

    <ul>
        {% for article in articles %}
        <li class="list-name"><a href="{% url 'article' category.slug_category article.slug_article %} ">{{article.title}}-{{article.level}}</a></li>
        {% endfor %}
    </ul>
    <hr>
    <p class="end">English by article/ 2023</p>


{% endblock %}

