{% extends 'base.html' %}
{%block content%}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style1.css' %}" />
  <h1>{{article.title}}</h1>
      <article class="article-text">
          <br>{{story_.story}}
      </article>

    <p> The number of  likes: {{likes_article}}</p>
    <p>Add a like to article</p>
    <form action="{% url 'likes_article' article.category.slug_category article.slug_article %}" method="post">
      {% csrf_token %}
      <p><input type="submit" value="Like"></p>
    </form>

    <p> The number of  dislikes: {{dislikes_article}}</p>
    <p>Add a dislike to article</p>
    <form action="{% url 'dislikes_article' article.category.slug_category article.slug_article %}" method="post">
      {% csrf_token %}
      <p><input type="submit" value="Dislike"></p>
    </form>



  <a href="{% url 'category' article.category.slug_category %}">Back</a>
  {% if user.is_authenticated %}
      <h2>Add to my favorite articles </h2>
        <form action="{% url 'add_favorite_art' article.category.slug_category article.slug_article %}" method="post">
          {% csrf_token %}
          <p><input type="submit" value="Add"></p>
        </form>
        <a class ="btn btn-sm btn-info"  href="{% url 'add_word_to_dictionary' article.category.slug_category article.slug_article %}">Add word to my dictionary</a>
        <hr>

  {% endif %}

  {% for comment in comments %}
    <div class="comment">
      <p class="info">{{ comment.user.username }}:
      {{ comment.content|linebreaks }}/ create:{{comment.data}}/ the likes of comment:{{comment.likes.count}}
      <br>
      {% if comment.user == user %}
        <a class ="btn btn-sm btn-info" href="{% url 'del_comment' article.category.slug_category article.slug_article comment.pk %}">Delete</a>
        <a class ="btn btn-sm btn-danger"  href="{% url 'update_comment' article.category.slug_category article.slug_article comment.pk %}">Update</a>
      {% endif %}

      <p>Add a new like to comment</p>
        <form action="{% url 'likes_comment' article.category.slug_category article.slug_article comment.pk %}" method="post">
          {% csrf_token %}
          <p><input type="submit" value="Like"></p>
        </form>
        <hr>
     </div>

  {% empty %}
    <p>There are no comments yet.</p>
  {% endfor %}

  {% if new_comment %}
    <h2>Your comment has been added.</h2>
  {% else %}
    <h2>Add a new comment</h2>
    <form action="{% url 'create_comment' article.category.slug_category article.slug_article %}" method="post">
      {% csrf_token %}
      {{ form }}
      <p><input type="submit" value="Add comment"></p>
    </form>
  {% endif %}
{% endblock %}




<!--            <br/></br>-->
<!--    <hr>-->
<!--    <form action="{% url 'likes' article.pk &}"-->
<!--          method="POST">-->
<!--        {% csrf_token %}-->
<!--        <button type="submit", name = 'article_id', value="{{article.id}}", class="btn btn-primary btn-sm">Like</button>-->
<!--    </form>-->

<!--    <style>-->
<!--        .like-container {-->
<!--          width: 100%;-->
<!--          padding-right: 15px;-->
<!--          padding-left: 15px;-->
<!--          margin-right: auto;-->
<!--          margin-left: auto;-->
<!--        }-->
<!--        @media (min-width: 768px) {-->
<!--          .like-container {-->
<!--            width: 700px;-->
<!--          }-->
<!--        }-->
<!--        @media (min-width: 992px) {-->
<!--          .like-container {-->
<!--            width: 970px;-->
<!--          }-->
<!--        }-->
<!--        @media (min-width: 1200px) {-->
<!--          .like-container {-->
<!--            width: 1170px;-->
<!--          }-->
<!--        }-->
<!--    </style>-->
<!--    <div class="like-container">-->
<!--        <p class="num-of-likes">3</p>-->
<!--        <form action="" method="Post">-->
<!--            <button>-->
<!--                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">-->
<!--                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>-->
<!--                </svg>-->
<!--            </button>-->
<!--        </form>-->
<!--        <p>like</p>-->
<!--    </div>-->