{% extends 'base.html' %}

{%block content%}
    <a href="{% url 'my_page' %}">Back</a>
    <h1>Choose language</h1>
    <p class="text-form-language">The word: {{word}}</p>
    <form class="form-language" action="" method="post">
        {% csrf_token %}
        {{ form_post}}
        <p><button class="custom-btn btn-6" type="submit"><span>Translate</span></button>
    </form>
    <p class="text-form-language"> Translation: {{translated_word}}</p>
    <hr>
    <p class="end">English by article/ 2023</p>

{% endblock %}

